In [2]:
import pandas as pd

In [3]:
stats = pd.read_csv("player_mvp_stats.csv")

In [4]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
1,1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
2,2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
3,3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
4,4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15610,15610,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15611,15611,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15612,15612,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15613,15613,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15614,15614,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [5]:
del stats["Unnamed: 0"]

In [6]:
pd.isnull(stats)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15612,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15613,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15614,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          62
3P            0
3PA           0
3P%        2162
2P            0
2PA           0
2P%         106
eFG%         62
FT            0
FTA           0
FT%         551
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [8]:
stats[pd.isnull(stats["3P%"])][["Player","3PA"]]

                 Player  3PA
3         Jawann Oldham  0.0
7         Mark McNamara  0.0
8           Mel McCants  0.0
10      Mychal Thompson  0.0
16       Elden Campbell  0.0
...                 ...  ...
15584    Evan Eschmeyer  0.0
15585  Gheorghe Mureșan  0.0
15587     Jim McIlvaine  0.0
15593  Mark Hendrickson  0.0
15594      Michael Cage  0.0

[2162 rows x 2 columns]

In [9]:
stats[pd.isnull(stats["FT%"])][["Player","FTA"]]

                Player  FTA
91          John Coker  0.0
106       Jason Sasser  0.0
117    Adrian Caldwell  0.0
133       Bruno Šundov  0.0
172     Jamal Robinson  0.0
...                ...  ...
15494     Trevor Keels  0.0
15502      Luke Zeller  0.0
15555      Myron Brown  0.0
15577      Malcolm Lee  0.0
15611      Steve Novak  0.0

[551 rows x 2 columns]

In [10]:
stats = stats.fillna(0)

In [11]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [12]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [13]:
train = stats[~(stats["Year"] == 2023)]
test = stats[stats["Year"] == 2023]

In [14]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=0.1)

In [15]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [16]:
predictions = reg.predict(test[predictors])

In [17]:
predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)

In [18]:
predictions

       predictions
225       0.002324
226       0.032336
227       0.041438
228       0.226010
229      -0.002465
...            ...
15490    -0.013661
15491     0.003761
15492    -0.015425
15493     0.017828
15494     0.011492

[539 rows x 1 columns]

In [19]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)

In [20]:
combination

                      Player  Share  predictions
225               A.J. Green  0.000     0.002324
226             Bobby Portis  0.000     0.032336
227              Brook Lopez  0.000     0.041438
228    Giannis Antetokounmpo  0.606     0.226010
229             Goran Dragić  0.000    -0.002465
...                      ...    ...          ...
15490      Mitchell Robinson  0.000    -0.013661
15491             Obi Toppin  0.000     0.003761
15492         Quentin Grimes  0.000    -0.015425
15493             RJ Barrett  0.000     0.017828
15494           Trevor Keels  0.000     0.011492

[539 rows x 3 columns]

In [21]:
combination.sort_values("Share", ascending = False).head(10)

                        Player  Share  predictions
15204              Joel Embiid  0.915     0.203343
750               Nikola Jokić  0.674     0.175211
228      Giannis Antetokounmpo  0.606     0.226010
2954              Jayson Tatum  0.280     0.139143
1336   Shai Gilgeous-Alexander  0.046     0.148992
14037         Donovan Mitchell  0.030     0.087480
4344          Domantas Sabonis  0.027     0.094655
320                Luka Dončić  0.010     0.197190
6804             Stephen Curry  0.005     0.107983
11077             Jimmy Butler  0.003     0.111396

In [22]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002664727617642179

In [23]:
combination["Share"].value_counts()

Share
0.000    526
0.001      2
0.606      1
0.010      1
0.674      1
0.046      1
0.280      1
0.002      1
0.027      1
0.005      1
0.003      1
0.030      1
0.915      1
Name: count, dtype: int64

In [24]:
combination = combination.sort_values("Share", ascending = False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [25]:
combination.head(10)

                        Player  Share  predictions  Rk
15204              Joel Embiid  0.915     0.203343   1
750               Nikola Jokić  0.674     0.175211   2
228      Giannis Antetokounmpo  0.606     0.226010   3
2954              Jayson Tatum  0.280     0.139143   4
1336   Shai Gilgeous-Alexander  0.046     0.148992   5
14037         Donovan Mitchell  0.030     0.087480   6
4344          Domantas Sabonis  0.027     0.094655   7
320                Luka Dončić  0.010     0.197190   8
6804             Stephen Curry  0.005     0.107983   9
11077             Jimmy Butler  0.003     0.111396  10

In [26]:
combination = combination.sort_values("predictions", ascending = False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [27]:
combination.head(10)

                        Player  Share  predictions   Rk  Predicted_Rk
228      Giannis Antetokounmpo  0.606     0.226010    3             1
15204              Joel Embiid  0.915     0.203343    1             2
320                Luka Dončić  0.010     0.197190    8             3
750               Nikola Jokić  0.674     0.175211    2             4
1336   Shai Gilgeous-Alexander  0.046     0.148992    5             5
11792             Kevin Durant  0.000     0.141267   50             6
8712             Anthony Davis  0.000     0.140545  139             7
8232            Damian Lillard  0.000     0.139651   90             8
2954              Jayson Tatum  0.280     0.139143    4             9
8719              LeBron James  0.000     0.134207  132            10

In [28]:
combination.sort_values("Share", ascending = False).head(10)

                        Player  Share  predictions  Rk  Predicted_Rk
15204              Joel Embiid  0.915     0.203343   1             2
750               Nikola Jokić  0.674     0.175211   2             4
228      Giannis Antetokounmpo  0.606     0.226010   3             1
2954              Jayson Tatum  0.280     0.139143   4             9
1336   Shai Gilgeous-Alexander  0.046     0.148992   5             5
14037         Donovan Mitchell  0.030     0.087480   6            22
4344          Domantas Sabonis  0.027     0.094655   7            17
320                Luka Dončić  0.010     0.197190   8             3
6804             Stephen Curry  0.005     0.107983   9            14
11077             Jimmy Butler  0.003     0.111396  10            13

In [29]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending = False).head(5)
    predicted = combination.sort_values("predictions", ascending = False)
    ps = []
    found = 0 
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps)/len(ps)

In [30]:
find_ap(combination)

0.821111111111111

In [31]:
years = list(range(1990,2024))

In [32]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [33]:
sum(aps)/len(aps)

0.7339562287464433

In [34]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending = False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending = False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [35]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"]<= 5].sort_values("Diff", ascending = False)

                  Player  Share  predictions  Rk  Predicted_Rk  Diff
10823     David Robinson  0.508     0.202143   2             1     1
5553     Hakeem Olajuwon  0.211     0.185327   4             3     1
11597     Michael Jordan  0.986     0.170441   1             5    -4
8083   Anfernee Hardaway  0.319     0.104194   3            11    -8
11600     Scottie Pippen  0.200     0.067388   5            19   -14

In [36]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [37]:
mean_ap, aps, all_predictions = backtest(stats, reg, years, predictors)

In [38]:
mean_ap

0.7339562287464433

In [39]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
9176          Glen Rice  0.117     0.031333   5            56   -51
1455         Jason Kidd  0.712     0.031768   2            44   -42
5792         Steve Nash  0.839     0.036178   1            41   -40
5810         Steve Nash  0.739     0.055480   1            34   -33
14155       Joakim Noah  0.258     0.048159   4            36   -32
9444    Peja Stojaković  0.228     0.038256   4            34   -30
1620         Chris Paul  0.138     0.072281   5            33   -28
4066   Chauncey Billups  0.344     0.056863   5            32   -27
5825         Steve Nash  0.785     0.075863   2            21   -19
5616         Jason Kidd  0.135     0.052672   5            20   -15

In [40]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.099303  eFG%
18  0.030704   DRB
29  0.029337  W/L%
10  0.020800    2P
17  0.018200   ORB
21  0.012453   STL
22  0.010121   BLK
15  0.010015   FTA
12  0.007539   2P%
25  0.007146   PTS
20  0.007018   AST
5   0.004027   FGA
7   0.002946    3P
0   0.000263   Age
30  0.000240    GB
27  0.000114     W
1   0.000088     G
2   0.000002    GS
26 -0.000196  Year
32 -0.000253  PA/G
28 -0.000269     L
31 -0.000520  PS/G
33 -0.000689   SRS
4  -0.001691    FG
24 -0.002473    PF
3  -0.004020    MP
14 -0.005541    FT
16 -0.005722   FT%
8  -0.008169   3PA
9  -0.008313   3P%
23 -0.009193   TOV
11 -0.015882   2PA
19 -0.023311   TRB
6  -0.166142   FG%

In [41]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean()).reset_index(drop=True)

In [42]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.446394  0.524403  1.101744  1.430189  1.129657   1.0
1      1.737915  1.716226  1.377180  0.953459  6.777943   1.0
2      2.365807  1.716226  1.652616  1.430189  1.129657   1.0
3      0.168185  0.095346  0.413154  1.191824  0.000000   1.0
4      0.583042  0.190692  0.550872  0.238365  0.000000   1.0
...         ...       ...       ...       ...       ...   ...
15610  0.811285  0.435028  1.476263  4.707424  0.000000   1.0
15611  0.811285  0.483365  0.492088  0.523047  1.312418   1.0
15612  1.238854  1.015066  1.148205  1.046094  2.221015   1.0
15613  2.148808  1.353421  0.656117  0.523047  1.716239   1.0
15614  0.109633  0.000000  0.000000  0.000000  0.302866   1.0

[15615 rows x 6 columns]

In [43]:
stats = stats.reset_index(drop=True)

In [44]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,0.478,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,0.470,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,0.548,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,0.500,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,0.470,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15610,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15611,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15612,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15613,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15614,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [45]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [46]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,0.478,...,0.768,0.0,110.7,103.9,6.74,1.446394,0.524403,1.101744,1.430189,1.129657
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,0.470,...,0.768,0.0,110.7,103.9,6.74,1.737915,1.716226,1.377180,0.953459,6.777943
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,0.548,...,0.768,0.0,110.7,103.9,6.74,2.365807,1.716226,1.652616,1.430189,1.129657
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,0.500,...,0.768,0.0,110.7,103.9,6.74,0.168185,0.095346,0.413154,1.191824,0.000000
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,0.470,...,0.768,0.0,110.7,103.9,6.74,0.583042,0.190692,0.550872,0.238365,0.000000

In [47]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [48]:
mean_ap, aps, all_predictions = backtest(stats, reg, years, predictors)

In [49]:
mean_ap

0.735434530588288

In [50]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [51]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,NPos
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,0.478,...,0.0,110.7,103.9,6.74,1.446394,0.524403,1.101744,1.430189,1.129657,2
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,0.470,...,0.0,110.7,103.9,6.74,1.737915,1.716226,1.377180,0.953459,6.777943,12
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,0.548,...,0.0,110.7,103.9,6.74,2.365807,1.716226,1.652616,1.430189,1.129657,8
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,0.500,...,0.0,110.7,103.9,6.74,0.168185,0.095346,0.413154,1.191824,0.000000,0
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,0.470,...,0.0,110.7,103.9,6.74,0.583042,0.190692,0.550872,0.238365,0.000000,8

In [52]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [53]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'C', 'PG', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [54]:
stats["NTm"].value_counts()

NTm
7     552
8     549
27    546
14    545
17    542
11    541
0     540
12    535
31    531
9     531
1     530
18    528
15    527
26    526
13    525
5     523
30    520
29    518
10    518
34    518
28    516
24    516
19    513
33    460
36    431
16    371
20    361
32    277
25    256
2     202
4     194
23    179
3     157
6     147
21    143
37    127
35     88
22     32
Name: count, dtype: int64

In [55]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50, random_state = 1, min_samples_split = 5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[23:], predictors)

In [56]:
mean_ap

0.7376307388624567

In [57]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[23:], predictors)

In [58]:
mean_ap

0.735434530588288

In [59]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=500, learning_rate=0.1, max_depth=8, random_state=0, loss='squared_error')

mean_ap, aps, all_predictions = backtest(stats, gbr, years, predictors)

In [60]:
mean_ap

0.6661392369655421

In [61]:
from sklearn.linear_model import ElasticNetCV
import numpy as np

encv = ElasticNetCV(cv=15, random_state=1, l1_ratio=[0.1,0.5,0.7], max_iter=2000, n_alphas=500, selection = "random")

mean_ap, aps, all_predictions = backtest(stats, encv, years, predictors)

C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.495e-02, tolerance: 1.027e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.316e-02, tolerance: 1.186e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.539e-02, tolerance: 1.348e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.473e-02, tolerance: 1.488e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.700e-03, tolerance: 1.622e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.295e-02, tolerance: 1.776e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.911e-02, tolerance: 1.924e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.228e-02, tolerance: 2.073e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.969e-02, tolerance: 2.232e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.770e-02, tolerance: 2.386e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.294e-02, tolerance: 2.516e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.364e-01, tolerance: 2.678e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.028e-01, tolerance: 2.844e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.231e-02, tolerance: 3.011e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.590e-02, tolerance: 3.170e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.074e-02, tolerance: 3.327e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.665e-02, tolerance: 3.485e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.291e-02, tolerance: 3.647e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.520e-02, tolerance: 3.814e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.919e-02, tolerance: 3.978e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.226e-02, tolerance: 4.139e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.698e-02, tolerance: 4.307e-03
  model = cd_fast.enet_coordinate_descent(
C:\Users\ScottieDFloppyPC\anaconda3\envs\dataquest\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.273e-02, tolerance: 4.641e-03
  model = cd_fast.enet_coordinate_descent(

In [62]:
mean_ap

0.7596760947120499

In [63]:
import lightgbm as lgb

hyper_params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': ['l1','l2'],
    'learning_rate': 0.005,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.7,
    'bagging_freq': 10,
    'verbose': 0,
    "max_depth": 6,
    "num_leaves": 64,  
    "max_bin": 128,
    "num_iterations": 10000
}
lgbm = lgb.LGBMRegressor(**hyper_params)

mean_ap, aps, all_predictions = backtest(stats, lgbm, years, predictors)

In [64]:
mean_ap

0.7596760947120499